<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Exam2020Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://120.55.241.236:999/Models/Exam2020.asmx"
                binding="basicHttpBinding" bindingConfiguration="Exam2020Soap"
                contract="Web.Exam2020Soap" name="Exam2020Soap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
